.vscode/launch.json
checkpoint-600/adapter_config.json
checkpoint-600/adapter_model.safetensors
checkpoint-600/optimizer.pt
checkpoint-600/README.md
checkpoint-600/rng_state.pth
checkpoint-600/scheduler.pt
checkpoint-600/special_tokens_map.json
checkpoint-600/tokenizer_config.json
checkpoint-600/tokenizer.json
checkpoint-600/tokenizer.model
checkpoint-600/trainer_state.json
checkpoint-600/training_args.bin
Datasets/HMS_2023-2024_PUBLIC_instchars.csv
fine_tuned/adapter_config.json
fine_tuned/adapter_model.safetensors
fine_tuned/added_tokens.json
fine_tuned/README.md
fine_tuned/special_tokens_map.json
fine_tuned/tokenizer_config.json
fine_tuned/tokenizer.json
fine_tuned/tokenizer.model
llama/llama-lora-fine-tuned/checkpoint-75/adapter_config.json
llama/llama-lora-fine-tuned/checkpoint-75/adapter_model.safetensors
llama/llama-lora-fine-tuned/checkpoint-75/optimizer.pt
llama/llama-lora-fine-tuned/checkpoint-75/README.md
llama/llama-lora-fine-tuned/checkpoint-75/rng_state.pth
llama/llama-lora-fine-tuned/checkpoint-75/scheduler.pt
llama/llama-lora-fine-tuned/checkpoint-75/trainer_state.json
llama/llama-lora-fine-tuned/checkpoint-75/training_args.bin
llama/llama-lora-fine-tuned/adapter_config.json
llama/llama-lora-fine-tuned/adapter_model.safetensors
llama/llama-lora-fine-tuned/added_tokens.json
llama/llama-lora-fine-tuned/README.md
llama/llama-lora-fine-tuned/special_tokens_map.json
llama/llama-lora-fine-tuned/tokenizer_config.json
llama/llama-lora-fine-tuned/tokenizer.json
llama/llama-lora-fine-tuned/tokenizer.model
llama/logs/events.out.tfevents.1732918102.leaflab.116784.0
llama/logs/events.out.tfevents.1732919436.leaflab.117599.0
llama/logs/events.out.tfevents.1732919875.leaflab.117934.0
llama/logs/events.out.tfevents.1732924135.leaflab.123181.0
llama/logs/events.out.tfevents.1732928630.leaflab.130231.0
llama/logs/events.out.tfevents.1732942706.leaflab.139682.0
llama/logs/events.out.tfevents.1732947084.leaflab.143187.0
llama/logs/events.out.tfevents.1732997276.leaflab.153481.0
fine_tuning_dataset.jsonl
HMS_2023_processed_balanced.csv
HMS_2023_processed_binary_balanced_1000_test.csv
HMS_2023_processed_binary_balanced_1000_train.csv
HMS_2023_processed_binary_balanced_1000.csv
HMS_2023_processed.csv
test.csv
test.csv
